* {
    padding: 0;
    margin: 0;
}

body,
html {
    height: 100%;
}

.wrapper {
    width: 1100px;
    margin: 0 auto;
}

footer,
header {
    text-align: center;
}

header {
    width: 100%;
    height: 80px;
    background: orange;
    position: relative;
}

.layout .wrapper {
    display: flex;
}

.sidebar {
    width: 20%;
    height: 250px;
    background: green;
}

.content {
    padding: 15px;
    width: 80%;
    background: cyan;
}

.start-window {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.fullpage-wrap{
    flex: 1 0 auto;
}

footer {
    flex: 0 0 auto;
    height: 80px;
    margin-top: 10px;
    background: blue;
}

.user-profile,
form,
.logout-btn
 {
    display: none;
}

.homepage-content.hide-window,
nav.homepage-menu.hide-window{
    display: none;
}

.show-window {
    display: flex;
}

.start-btn {
    outline: none;
    border-radius: 5px;
    width: 8%;
    height: 44%;
    margin-right: 19px;
}

aside {
    text-align: center;
}

form {
    flex-direction: column;
    width: 14%;
    border-radius: 15px;
    border: 4px solid black;
    background: rgb(146, 151, 151);;
    padding-bottom: 15px;
    position: absolute;
    right: 16%;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-top: 0;
}

form span {
    display: block;
}

form h2 {
    margin: 5px auto;
}

form * {
    margin: 0 auto;
}

button,
input {
    border-radius: 5px;
    margin-bottom: 7px;
}

form button {
    outline: none;
    padding: 5px;
    margin-top: 10px;
}

form input {
    height: 32px;
    width: 80%;
    outline: none;
}

.error-text {
    color: cyan;
    font-size: 20px;
    text-align: center;
}

button:hover {
    background-color: rgba(142, 155, 228, 0.712);
    transition: 0.4s;
}

#email-sign-in,
#email-sign-up {
    background-image: url("../icons/icons8-new-post-50.png");
    background-position: 187px 6px;
    background-size: 20px 20px;
    background-repeat: no-repeat;
}

#confirm-password,
#pass-sign-in,
#pass-sign-up {
    background-image: url("../icons/icons8-lock-26.png");
    background-position: 187px 6px;
    background-size: 20px 20px;
    background-repeat: no-repeat;
    transition: all 1s;
}

#confirm-password.checked-password,
#email-sign-in.checked-password,
#email-sign-up.checked-password,
#pass-sign-in.checked-password,
#pass-sign-up.checked-password {
    background-image: url("../icons/icons8-checkmark-48.png");
}

#confirm-password.error-check-password {
    background-image: url("../icons/icons8-high-priority-48.png");
}

button:hover,
input:focus {
    box-shadow: 0 0 11.9px 5px rgba(255, 255, 255, 0.69);
}

nav.homepage-menu{
    height: 71px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(147, 14, 224);
}

.homepage-content{
    display: flex;
}

.homepage-text{
    font-size: 100px;
    font-weight: bold;
    text-transform: uppercase;
    margin:auto;
    margin-top: 12%;
}

.user-action-menu{
    position: relative;
}

.close-form{
    cursor: pointer;
    width: 50px;
    height: 50px;
    position: absolute;
    right: -1%;
    top: -2%;
}

.logout-btn{
    padding: 5px;
    position: absolute;
    right: 7%;
    bottom: 3%;
}

/*.user-profile{
    display: flex;
}

.homepage-content, nav.homepage-menu{
    display: none;
}*/

